body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajuste a largura conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container div {
    margin-bottom: 15px;
}

.login-container label {
    display: block; /* Faz com que o label ocupe a linha inteira */
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding no tamanho total */
}

.login-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}
