/* Estilos gerais para o perfil */
.profile-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .profile-details {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .profile-name {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Seção "Sobre o Autor" */
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .save-about-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-about-button:hover {
    background-color: #45a049;
  }
  
  .edit-about-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-about-button:hover {
    background-color: #0056b3;
  }
  
  /* Seção de livros contribuidos */
  .contributed-books h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .book-card {
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
  }
  
  .book-card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .logout-button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #e74c3c; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c0392b; 
  }
  
  .logout-button:focus {
    outline: none;
  }
  